<html>
<head>
    <title>Mean Maps App</title>
    <script src="javascripts/angular.min.js"></script>
    <script src="javascripts/angular-ui-router.js"></script>
    <script src="http://angular-ui.github.io/ui-leaflet/bower_components/leaflet/dist/leaflet.js"></script>
    <script src="http://angular-ui.github.io/ui-leaflet/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="http://angular-ui.github.io/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="javascripts/angularApp.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="http://angular-ui.github.io/ui-leaflet/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<h1>MEAN Maps Project</h1>
<div ng-app="meanMaps" ng-controller="MapController">
    <leaflet id="map" defaults="defaults"></leaflet>
    <select ng-model="maps" ng-options="x for x in mapOptions" ng-change="selection(maps)"></select>
</div>
</body>
</html>