body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  height: 60%;
  min-height: 100px;
  width:600px;
}
.infoWindowContent {
  font-size:  14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}
h2 {
  margin-bottom:0;
  margin-top: 0;
}